<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect(
            'http://' + document.domain + ':' + location.port,
            {transports: ['websocket']}
        );
        socket.on('connect', function() {
            socket.emit('my_event', {data: 'I\'m connected!'});
        });

        socket.on('my_response', function(msg) {
            console.log("response received from server " + msg);
        });

        socket.on('new_player', function(leaderboard){
            console.log("new player joined");
            createTable(leaderboard);
        });
    </script>
</head>
<body>
    <div class="leaderboard-background">
            <h1 class="leaderboard-title">
                <img src="/static/Space Invaders 5.png">
                <br><br>
                Nano Space Invaders
                <br><br>
                leaderboard
            </h1>

        <div class="leaderboard">
            <table id="lb-table">
            </table>
        </div>

    </div>

    <script>
        function createTable(leaderboard) {
            var table = document.getElementById("lb-table");
            if (table.hasChildNodes()) {
                while(table.firstChild){
                    table.removeChild(table.firstChild);
                }
            }

            var tr = document.createElement('TR');
            table.appendChild(tr);
            var th1 = document.createElement('TH');
            var th2 = document.createElement('TH');
            var th3 = document.createElement('TH');
            th1.appendChild(document.createTextNode("Rank"));
            tr.appendChild(th1);
            th2 = document.createElement('TH');
            th2.appendChild(document.createTextNode("Player"));
            tr.appendChild(th2);
            th3 = document.createElement('TH');
            th3.appendChild(document.createTextNode("Score"));
            tr.appendChild(th3);

            var index = 0;

            for(i in leaderboard){
                let tr = document.createElement('TR');
                table.appendChild(tr);
                let td1 = document.createElement('TD');
                let td2 = document.createElement('TD');
                let td3 = document.createElement('TD');
                index++;
                td1.appendChild(document.createTextNode(index));
                td2.appendChild(document.createTextNode(leaderboard[i][0]));
                td3.appendChild(document.createTextNode(leaderboard[i][1]));
                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
            }
        }
        var leaderboard = {{ leaderboard|tojson }};
        createTable(leaderboard);
    </script>
</body>